[Desktop Entry]
Name=Jive
Exec=/home/geissepeter/Desktop/TangoGuis/GenericGuis/StartJive.sh
Icon=/usr/share/icons/custom/Jive.png
Type=Application
OnlyShowIn=GNOME;Unity;


[Desktop Action New]
Name=New Gui
Exec=/home/geissepeter/Desktop/TangoGuis/GenericGuis/StartJive.sh
OnlyShowIn=Unity
